
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            	<% @output.each do |p| %>
	            	<div class="post-preview">
	                    
	                        <h2 class="post-title">
	                           <%=link_to p.title,full_post_path(:title_name => p.title) %>
	                        </h2>
	                        
	                    
	                    <p class="post-meta">Posted by <a href="#"><%= p.name %></a> on <%= p.created_at %></p>
	                </div>
	                <hr>
				<%end%>
			</div>
		</div>
	</div>